<style>

</style>

{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
    <!-- Make sure to include Bootstrap's CSS if not already in 'base.html' -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
{% endblock meta %}

{% block content %}

<div class="container h-100">
    <div class="row justify-content-center h-100">
        <div class="col-6 align-self-center">
            <div class="card">
                <div class="card-body">

                    <h1 class="text-center">Inventory List</h1>

                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" placeholder="Username" class="form-control">
                        </div>
                        
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" placeholder="Password" class="form-control">
                        </div>

                        <div class="text-center">
                            <input class="btn btn-primary login_btn" type="submit" value="Login">
                        </div>
                    </form>

                    {% if messages %}
                        <ul class="mt-3">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}     

                    <p class="text-center mt-3">Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a></p>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}